@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Time to listen to your favorite radio stations / songs / playlists / podcasts!</p>
    <p>Just select from the menu on top of the page!</p>
</div>
